*{
    margin: 0;
}

.form-container{
    display: flex;
    justify-content: center;
}

.form-layer{
    background-color: lightblue;
    margin-top: 20px;
    padding: 0px 30px 30px;
}

.input-container{
    display: flex;
    padding: 30px 20px 0px;
}

.input-container input{
    width: 100%;
}

.input-container label{
    margin-right: 10px;
}

.input-container-img{
    margin: 0px 20px;
}

.input-container-img{
    margin-top: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.418);
    margin-bottom: 20px;
}

.gender{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gender-container{
    display: flex;
    justify-content: center;
}

.submit-btn-container{
    margin-left: 20px;
}