*{
    font-size: 20px;
}
.grid-user-profile-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.user-profile-container{
    margin: 50px 10px;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container{
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.image-container img{
    max-width: 100%;
    height: auto;
    display: block;
}

.user-profile-container p{
    margin-top: 10px;
}

.span-container{
    display: flex;
    margin: 10px 0px;
    width: 100%;
    justify-content: space-around;
}

.span-container span{
    cursor: pointer;
}


.save-cancel-btn{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

.save-cancel-btn button{
    width: 80px;
}


.js-input-container, .js-submit-btn-container, .js-cancel-btn-container{
    display: none;
}

.is-editing-userprofile{
    margin: 0;
    height: 100vh;
    background-color: #ffffff3e;
    position: fixed;
    top: 0;
}

.is-editing-userprofile .js-input-container{
    display: initial;
    display: flex;
    padding: 30px 10px 0px ;
}

.is-editing-userprofile .label-container{
    padding-right: 10px;
}

.is-editing-userprofile .span-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.is-editing-userprofile .js-submit-btn-container, .is-editing-userprofile .js-cancel-btn-container{
    margin: 20px;
    display: initial;
    cursor: pointer;
}


.is-editing-userprofile .js-delete-user, .is-editing-userprofile .js-update-user{
    display: none;
}